.calendar {
	border: 1px solid #ddd;
	padding: 10px;
	flex-grow: 1;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.header .buttonContainer {
	display: flex;
	gap: 10px;
}

.weekdays {
	display: flex;
	justify-content: space-between;
}

.daysContainer {
	display: flex;
	flex-direction: column;
}

.days {
	display: flex;
	flex-wrap: wrap;
}

.dayOfWeek {
	width: calc(100% / 7);
	font-weight: bold;
	padding: 2px;
	box-sizing: border-box;
}

.day {
	width: calc(100% / 7);
	text-align: left;
	min-height: 60px;
	max-height: 60px;
	padding: 2px;
	box-sizing: border-box;
	overflow-y: hidden;
}

.dayInner {
	background-color: #00000011;
	padding: 2px;
	box-sizing: border-box;
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
}

.dayEvents {
	padding: 2px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.event {
	background-color: var(--theme-bg-colour);
	border-radius: var(--theme-border-radius);
	color: white;
	padding: 2px;
	font-size: 0.8rem;
}

.event:hover {
	cursor: move;
}

/** global to avoid transform on dark mode class */
:global .dark {
	.dayInner {
		background-color: #00000022;
	}
}