.customButton {
	background-color: var(--theme-bg-colour);
	color: var(--theme-txt-colour);
	padding: 10px 20px;
	border: none;
	border-radius: var(--theme-border-radius);
	cursor: pointer;
	transition: background-color 0.3s;
}

.customButton:hover {
	opacity: 0.9;
}

.customButton:disabled {
	background-color: #bdc3c7;
	cursor: not-allowed;
}